<!--<h2>{{person.name | uppercase}} Details</h2>-->
<!--<div>-->
<!--  <label>Person:-->
<!--    <input [(ngModel)]="person.name" placeholder="Person"/>-->
<!--  </label>-->
<!--</div>-->
<!--<div><span>Id: </span>{{person.id}}</div>-->
<!--<div><span>Name: </span>{{person.name}}</div>-->
<!--<div><span>NIF: </span>{{person.nif}}</div>-->
<!--<div><span>Language: </span>{{person.language}}</div>-->

<div>
  <label>Person name:
    <input #personName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(personName.value); personName.value=''">
    add
  </button>
</div>

<h2><b>List of persons:</b></h2>

<ul class="persons">
  <li *ngFor="let person of persons">
    <!--      [class.selected]="person === selectedPerson"-->
    <!--      (click)="onSelect(person)">-->
    <a routerLink="/detail/{{person.id}}">
      <span class="badge">{{person.id}}</span> {{person.name}}
    </a>
    <button class="delete" title="delete person"
            (click)="delete(person)">X</button>
  </li>
</ul>

<!-- <app-person-detail [person]="selectedPerson"></app-person-detail> // excluded to be aside in single page alone -->
